$background-light: rgb(200, 200, 200);
$background-dark: rgb(30, 30, 30);

$foreground-light: rgb(40, 40, 40);
$foreground-dark: rgb(210, 210, 210);

$col-primary: rgb(0, 175, 239);
$col-secondary: rgb(157, 211, 175);

$container-background-light: rgb(240, 240, 240);
$container-background-dark: rgb(50, 50, 50);

$border-col-light: rgb(220, 220, 220);
$border-col-dark: rgb(70, 70, 70);

$border-radius: 10px;

$box-shadow-light: 0 5px 20px rgba(110, 110, 110, 0.5);
$box-shadow-dark: 0 5px 20px rgba(0, 0, 0, 0.8);

$scrollbar-background-light: rgba(0, 0, 0, 0.2);
$scrollbar-hover-background-light: rgba(0, 0, 0, 0.3);

$scrollbar-background-dark: rgba(255, 255, 255, 0.2);
$scrollbar-hover-background-dark: rgba(255, 255, 255, 0.3);
